@model Model.Entity.Bill

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account1.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account1.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipaddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipaddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipMobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipMobile)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
