@model IEnumerable<Model.Entity.Bill>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Account.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account1.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.checkin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shipaddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shipMobile)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Account.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account1.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.checkin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shipaddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shipMobile)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
