@model Model.Entity.Book
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
@*    var category = (List<Model.Entity.Category>)ViewBag.Category;*@
    var bookListDetail = (List<Model.Entity.Book>)ViewBag.ListBookInCatogery;
}

<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="@Model.image" alt="">
                    </div>
                    <div class="product__details__pic__slider owl-carousel">
                        @foreach (var item in bookListDetail)
                        {
                            <img data-imgbigurl="/san-pham/@item.metatitle-@item.id"
                                 src="@item.image" alt="">
                        }

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>@Model.name</h3>
                    <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>(18 reviews)</span>
                    </div>
                    <div class="product__details__price">@Model.price VND</div>
                    <p>
                        Thong tin chi tiet cua san pham @Model.name co the duoc tham khao treng trang google.
                    </p>
                    <a href="#" class="primary-btn">Them Vao Gio Hang</a>
                    <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                    <ul>
                        <li>
                            <b>Share on</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>